.product-details-container{

    margin:auto;
    padding:1em;

     .product-img-container{

        text-align:right;

        img{
            height:25em;
            border-radius:1em;
        }


     }

     .product-info{
        padding-left: 3em;

        .product-name{

            font-size:2.7em;
            font-weight: 700;
            margin-right: 1em;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }

        .product-rating-container{
            .ratingicon{
                color: gold;
            }
        }
            .product-price{

                font-size:1.3em;
                font-weight:500;
                color:gray;

                .price{
                    font: size 1.6em;
                    font-weight: 600;

                }
            }

            .cart-button{
                height:2em;
                width:40%;
                display: block;
                



                 .cart-icon-container{
                    display: inline-block;
                    text-align: center;
                    margin-right: 2em;
               

                
                    .cart-icon{
                      font-size:1.2em;        
                    }
                 }

                 .cart-text-container{
                    display: inline-block;
                    text-align: center;
               
                    p{
                        font-size:1.2em;
                        font-weight:500;
                    }
                 }

            

            }
 

        
     }
}